*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
/* body{
    padding: 3rem;
} */
/* nav{
    background-color: rgba(4, 4, 104, 0.932);}
nav::after{
    content: "";
    clear: both;
    display: table;
}     */


a{
    text-decoration: none;
    color: #fff
}
li{
    padding-right: 7rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    float: right;
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    
}
li:first-child{
    padding-right: 1rem;
    padding-top: 2rem;
}

.header{
    height: 100vh;
    background-image: url(../img/backgroung_image2.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: white;
    text-align: center;
    font-size:2rem ;
    padding: 0 10rem;

}

.header_container{
    position:absolute;
    top:40%;
    left:48%;
    transform: translate(-50%,-50%);
    margin: 3rem;
}

.header_logo{
    height: 15rem;

}

h1{
    margin-top: 2rem;
}

.heading_1{
    display: block;
}
/* .nowrap{
    white-space: nowrap;
} */

section{
    padding:7rem 15rem ;
}
.aboutus{
    background-image: linear-gradient( to right bottom, rgb(242, 245, 71), rgb(247, 248, 161));
    text-align: center;
    font-size: 2.5rem;
    padding:15rem 20rem;
}

h2{
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    padding-bottom: 8rem;
    text-transform: uppercase;
    font-size: 3rem;
}
.gallery{
    background-image: url(../img/gallery_background.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: rgb(232, 232, 240);
    padding-top: 5rem;
}
.image{
    width: 33%;
    padding: 2rem;
    image-rendering: auto;
    height:auto;
    align-items: center;
}
.image_2{
    transform: translateY(-9%)
}

.events{
    padding-right:10rem;
    padding-left:10rem;
    background-image: url(../img/Events.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}
.video_1{
    padding-right: 1.5rem;
}
.video_2{
    padding-left: 1.5rem;
}
.coordinators{
    max-width: 140rem;
    padding-left: 15rem;
    padding-right: 0;
}
.coor{
    border-radius: 10000px;
    height: 20rem;
    width: 20rem;
}
.coor_txt{
    font-family: 'Lobster', cursive;;
    display: inline-block;
    padding: 5rem 8rem;
    background-color: #eee;
    text-align: center;
    font-size: 2.4rem;
    margin: 1rem;
    width :38rem;
}

input{
    width: 60%;
    border: none;
    display: block;
    border-bottom: 2px solid;
    margin: 3.9rem 5rem;
    height: 3.1rem;
    font-size: 2rem;
    background-color: #eee;
}

.row{
    max-width: 128.7rem;
    margin: 0 auto;
    background-color: #eee;
    margin-bottom: 1rem;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.row:first-child{
    position: absolute;
}
.col_1_of_2{
    width: calc((100%)/2 - 3rem);
    float: left;
}
[class^=col_]:not(:last-child){
    margin-right: 6rem;
}
.contact_us_container{
    transform: translateY(10%)
}

.contact_us_container div{
    margin-left: 5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-family:'Akaya Telivigala', cursive ;
}
.contact_us_img{
    width: 100%;
}

input:focus{
    outline: none;
}
.btn{
    width: 15%;
    background-color: green;
    border-radius: 1000px;
    color: #eee;
    font-size: 1.5rem;

}

.btn:hover{
    cursor: pointer;
    background-color: lightseagreen;
}
.message{
    height: 6.5rem;
}

footer{
    background-color: rgb(0, 6, 59);
    height:20rem;
    padding:3rem 20.5rem;
}
footer div{
    float: right;
    color: #fff;
    font-size: 3rem;
    text-transform: capitalize;
}
footer a{
    display: block;
    font-size: 2rem;
    margin:1.6rem 0;
}
footer img{
    height: 12rem;
    margin:0;
}